@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Fjalla+One&display=swap');
:root {
    --cor-primaria-1: #433633;
    --cor-primaria-2: #5C5552;
    --cor-primaria-3: #8F857D;
    --cor-primaria-4: #DECBB7;
    --cor-primaria-5: #F7F0F5;
    

    --fonte: "Architects Daughter", cursive;

    --ratio: 12px;
    --transition: 0.3s ease;
}
  * {   
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    font-family: var(--fonte);
    background: #8F857D;
    background: linear-gradient(90deg, rgba(143, 133, 125, 1) 0%, rgba(222, 203, 183, 1) 50%, rgba(247, 240, 245, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    
}

